.footer {
    background-color: var(--black-color);
    color: #fff;
    padding: 10px;
    bottom: 0;
    width: 100%;
    font-size: 9px;
    // height: 80px;
    & p{
        color: #fff;
    }
}

.footer-content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @media (max-width: 500px) {
        flex-direction: column-reverse;
        align-items: center;
      }
}
.footer-section1.footer-section2.footer-section3 {
width: 33%;
ul{
    list-style-type: none;
    padding: 0;}
ul li {
    margin-bottom: 5px;
}
a {
    color: #fff;
    text-decoration: none;
}
p {
    font-size: 9px;
    margin-bottom: 5px;
}
}
.footer-section3{
    display: flex;
    align-items: end;
}
.footer-section1{
    font-size: 9px;
}
.footer-section2{
    color: #fff;
    font-size: 8px;
    align-items: center;
    display: flex;
    flex-direction: column;
}