@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap&family=Fira+Code:wght@300..700&display=swap');

:root{
    // fonts
    --font-poppins: "Poppins", sans-serif;
    --font-robotoFlex: "Roboto Flex", sans-serif;
    --font-robotoSerif: "Roboto Serif", serif;
    --font-firaCode: "Fira Code", monospace;

    //colors
    --primary-color: #c96d0b;
    --secundary-color: #317ABB;
    --black-color: #101010;
    --tertiary-color: #ECECEC;
    --blueSoft-color: #2b7bc2;
    --orangeSoft-color: #faa925;

    --balloon-border-radius: 5px;
    --balloon-color: var(--yellow-color);
    --balloon-text-color: var(--primary-color);
    --balloon-font-size: 15px;
    --balloon-move: 30px;
    
    // --secundary-color: #084f4d;
    // --primarysoft-color: #37bcb1;
    // --accent-color: #f0f0f0;
    
}